.titlewrapper{ color:transparent; opacity: 0; height: 1px; }
.date-header span { color: #7dc692;  }
.post-author.vcard span { color: #7dc692; }
.published { color: #7dc692; }
.comment-link:link { color: transparent; }
.home-link:link { color:transparent; }
.feed-links { color:transparent; }
.feed-link:link { color:transparent; }
.profile-link:link { color: transparent; }
.BlogArchive { color: transparent; opacity: 0; height: 1px; }
#footer-3 { opacity: 0; }
.widget.Profile h2 { color: transparent; }
.profile-name-link.g-profile { color: #cccccc;  }
.navbar { opacity: 0; z-index: -1; }