#websitesbutton{ border-bottom: 2px solid #6fc1d2; }
#websites{
	height: 700px;
	background: url(../img/geo.jpg);
	background-position: 50% 50%;
	background-size: cover;
}

#websites-e{
	text-align: center;
}

#websites-e h1{
	font-size: 10em;
	padding: 0px;
	margin: 0px;
	line-height: 130px;
}

#websites-e h2{
	font-size: 16.4em;
	padding: 0px;
	margin: 0px;
	line-height: 160px;
}

#featured{
	height: 380px;
	width: 960px;
	background-color: #000;
}

#sites{
	padding: 0px 15px;
}

#item{
	float: left;
	background-color: #fff;
	height: 300px;
	width: 300px;
	margin: 40px 5px;
}

#item img{
	height: 280px;
	width: 280px;
	margin: 10px auto;
}

#item:hover{
	opacity: 0.6;
}